<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>Orçamentos Flexo</title>
</head>
<body>
    <h1>Orçamentos Flexo</h1>
        <a href="http://127.0.0.1:8000/admin">Cadastro</a>
    <br>
        <a href="{% url 'url_ladesivo' %}">Listagem dos Orçamentos Adesivo Flexo</a>
    <br>
        <a href="{% url 'url_lfilme' %}">Listagem dos Orçamentos Filme Flexo</a>
</body>
</html>